* {
    margin: 0;
    padding: 0;
    
}


h1 {
    margin: 20px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100px;
    background-color: beige;
}

/* .bus-layout {
    text-align: center;
    margin-top: 95px;
} */

.bus-image {
    max-width: 100%;
    height: auto;
    display: block;

}

.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seat[data-status="comprado"] {
    background-color: #ccc;
}

.seat[data-selected="true"] {
    background-color: orange;
}

.seat[data-status="livre"]::after {
    content: "X";
    color: red;
}


#container {
    display: grid;
    grid: repeat(4, 60px) / auto-flow 40px;
    margin-left: 0px;
    margin-right: 0px;
    width: 645px;
    height: 208px;
    place-content: center end;
}


#container>div {
    background-color: #8ca0ff;
    width: 30px;
    height: 30px;
}


.comprado {
    background-color: orange;
}
